# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Dataset folder (do not upload large data)
dataset/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# PyTorch model checkpoints (if you save later)
*.pt
*.pth

# Logs
*.log
